@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');


// Create SCSS variables
$white:#ffffff;
$black:#000000;
$primary:#fff6dc;
$secondary:#9eb384;
$dark: #435334;
$light:#aebe93;
$body_color:#ffffff;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

$font-family:rufina;

body {
	font-family: $font-family;
	font-weight: 400;
	line-height: 28px;
	color: $body_color;
}

.custom-navbar {
	background: $primary !important;
	padding-top: 20px;
	padding-bottom: 20px;
	.navbar-brand {
		font-size: 32px;
		font-weight: 600;
	}
	.navbar-toggler {
		border-color: transparent;
		&:active, &:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.custom-navbar-nav {
		li {
			a {
				font-weight: 500;
				color: $dark !important;
				opacity: .5;
				transition: .3sa all ease;
				position: relative;
				&::before {
					content:"" ;
					position: absolute;
					bottom: 0;
					left: 8px;
					right: 8px;
					background: $secondary;
					height:5px;
					
				}
				&:hover {
					opacity: 1;
				}
			}
			&.active {
				a {
					opacity: 1;

				}
			}
		}
	}
}

